/* 

CSS TABLE OF CONTENT:

style for home landing split page.


*/

@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/extends";
@import "_partials/hamburgers";
@import "_partials/hover";

.home {
	header.mobile-only {
		display:none;
	}
	div#sm_menu_ham {
		display:none;
	}
	.home__section__collumns--column {
		background-image:none;

	}
	.image--mobile {
		display:block;
		position:absolute;
		@media(min-width:$tablet) {
			display:none;
		}

	}
	section.home__bg__images {
		position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    display: flex;
	    display:none;
	    @media(min-width:$tablet) {
	    	display:flex;
	    }
	    .home__bg__images--image--one,
	    .home__bg__images--image--two {
		    width: 50%;
		    height: 100%;
		    background-size: cover;
		    background-position: center;
		     &::before {
		    	content: '';
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left:0;
			    z-index:1;
			    background:rgba(0,0,0,.2);
			}
		}
	}
	.home__section {
		width:100vw;
		min-height:100vh;
		display:block;
		@media(min-width:$tablet) {
			display:flex;
			flex-wrap:wrap;
		}
		a.home--logo {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		}
		
		.home_section--top {
		    position: relative;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    width: 100%;
		    padding-top:50px;
		    z-index:4;
		    width:100%;
		    background:$white;
		    padding-bottom:15px;
		    @media(min-width:$tablet) {
		    	position:relative;
		    	top:0;
		    	background:none;
		    	padding-bottom:0;
		    }
		    .logo--bison {
		    	width:125px;
		    	height:125px;
		    	@media(min-width: $tablet){
				  width:155px;
		    	  height:155px;
				}
		    	@media(min-width: $laptop){
				  width:195px;
		    	  height:195px;
				}
		    }
		    h1 {
		    	font-size:30px;
		    	max-width: 338px;
    			line-height: 140%;
    			color:$black;
    			margin-bottom:25px;
    			@media(min-width: $tablet){
				  font-size:30px;
				  max-width: 600px;
				  color:$cream;
				  margin-top:50px;
				}
				@media(min-width: $laptop){
				  font-size:40px;
				  max-width: 900px;
				  margin-top:50px;
				}
				@media(min-width: $desktop) {
					font-size:60px;
					margin-top: 45px;
				}

		    }
		}
		.home__section--columns {
		    display: block;
		    padding: 0px;
		    background-size: cover;
		    background-position: center;
		    width:calc(100% - 50px);
		    margin:auto;
		    position:relative;
		    @media(min-width: $tablet){
				  // this for any device larger than 1400px wide
				  padding:50px;
				  width:100%;
				  display:flex;
				  align-items:flex-end;
				  justify-content: flex-end;
				  width:50%;
				  margin:0;
				}
		   
			div {
				position: relative;
			    text-align: center;
			    z-index: 2;
			    box-sizing: border-box;
			    width: 100%;
			    margin-bottom: 50px;
			    box-sizing:border-box;
			    min-height:500px;
			    display:flex;
			    align-items:center;
			    justify-content: center;
			    span {
			    	z-index:2;
			    	position:relative;
			    }
			    &::before {
			    	content:'';
			    	width:100%;
			    	height:auto;
			    	top:0;
			    	left:0;
			    	background:rgba(0,0,0,0.2);
			    	position:absolute;
			    	z-index:1;
			    	@media(min-width:$tablet) {
			    		display:none;
			    	}
			    }
			    @media(min-width: $tablet){
				 padding:50px;
				 width:100%;
				 margin-bottom:0;
				 min-height:auto;
				}
			}
		    h2 {
		    	font-size:22px;
		    	margin-bottom:25px;
		    	z-index:2;
				line-height: 32px;
		    	@media(min-width: $tablet){
				  font-size:22px;
				  max-width: 900px;
				  line-height: 32px;
				}
		    	@media(min-width: $laptop){
				  font-size:40px;
				  line-height: 54px;
				}
		    }
		    p {
				font-size:16px;
				line-height: 24px;
		    	margin-bottom:35px;
		    	max-width:300px;
		    	margin:auto;
		    	margin-bottom:35px;
		    	z-index:3;
		    	@media(min-width: $tablet){
				  font-size: 16px;
				  max-width: 400px;
				  line-height: 26px;
				}
				@media(min-width: 1439px){
					font-size: 18px;
					line-height: 26px;
				}

		    }
		}
	}
}
.fade-in-main {
	animation: fadeIn 0.3s;
	-webkit-animation: fadeIn 0.3s;
	-moz-animation: fadeIn 0.3s;
	-o-animation: fadeIn 0.3s;
	-ms-animation: fadeIn 0.3s;
}
.fade-in-text {
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	-ms-animation: fadeIn 1s;
}

.fade-in-image {
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.slidein {
  	animation: slidein 3s;
	-webkit-animation: slidein 5s;
	-moz-animation: slidein 5s;
	-o-animation: slidein 5s;
	-ms-animation: slidein 5s;
}

@-webkit-keyframes slidein {
    100% { left: 0; }
}

@keyframes slidein {
    100% { left: 0; }
}
@media(max-width: 1600px)and (min-width: 800px){
	.home .home__section .home_section--top h1 {
		max-width: 530px;
	}
}
.home a.btn--red {
	font-family: 'Pilat-bold', sans-serif;
}