/* variables */

$white: #fff;
$black: #000;
$red: #D12F13;
$cream: #F8F6F4;
$offcream: #FAF9F8;
$hover: #932411;
$defaultfont: 'helvetica', arial, sans-serif;
$hover_color: orange;
$screen_max_width: 1500px;
$laptop: 1445px;
$tablet: 800px;
$mobile: 600px;
$highlight: 1px solid rgba(0,0,0,0.2);
$font: 'Palit', sans-serif;